<<<<<<< HEAD
=======

>>>>>>> bd51da3212ee46b81509dcf075cdeda7822a3670


*{
    margin: 0px; 
    padding: 0px;
 }
.section1 a{
    
    font-size: 49px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: black;
    

}

.main{
	
	font-family: Arial;
	margin-left: 60px;
	margin-right: 60px;
    width: 940px;
    margin: 0 auto;
}



.header {
    background-color:#A8A8A8 ;
    color:black;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-align:center;
    padding:70px;
     margin-bottom: 18px;
}

.section{
	
	text-align:justify;
	font-family: Arial;
	font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-top-width: 20px;


}






